<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= marca1 %></p>
    <p><%= marca2 %></p>
    <p><%= marca3 %></p>
    <p><%= marca4 %></p>
    <p><%= marca5 %></p>
  </body>
</html>
