<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>El Nombre del paciente es: <%= nombre %></p>
    <p>El Primer apellido es: <%= apellido1 %></p>
    <p>El Segundo apellido es: <%= apellido2 %></p>
    <p>El DNI del paciente es: <%= dni %></p>
    <p>El Número de la Seguridad Social del paciente es: <%= numeroSeguridadsocial %></p>
    <p>La última visita del paciente: <%= ultimaVisita %></p>
    <p>¿Tiene fiebre?: <%= dolencia %></p>
    <p>Hora de Ingreso del paciente: <%= horaIngreso %></p>
    <p>Fecha de Ingreso del paciente: <%= fechaIngreso %></p>
    <p>Días de estancia del paciente: <%= diasEstancia %></p>
  </body>
</html>
