<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> <%= title %></h1>
    <p>El correo es: <%= correo %></p>
    <p>El alias es: <%= alias %></p>
    <p>ELa contraseña es: <%= contrasena %></p>
    <p>Repita la contraseña: <%= repeContra %></p>
    <p>Elija una pregunta: <%= pregunta %></p>
    <p>respuesta: <%= respuesta %></p>
    <p>¿ha elegido actualidad?: <%= suplemento %></p>
    <p>Pago total: <%= pago %></p>
    <p>Número de tarjeta: <%= numerotarjeta %></p>
    
  </body>
</html>
